/* .regForm {
  background-image: "https://images.unsplash.com/photo-1611222566295-885a2c99153a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80";
  height: 100%;
 
  left: 0;
  width: 100%;
  overflow: hidden;
}

.regCard {
  width: 55%;
  margin: 0 auto;
} */
